<div>
    <h4>Table of Contents</h4>
    <ul>
        <li>
            <a href="#cpp">C++</a>
        </li>
        <li>
            <a href="#csharp">C#</a>
        </li>
        <li>
            <a href="#go">Go</a>
        </li>
        <li>
            <a href="#java">Java</a>
        </li>
        <li>
            <a href="#javascript">Javascript</a>
        </li>
        <li>
            <a href="#python">Python</a>
        </li>
        <li>
            <a href="#ruby">Ruby</a>
        </li>
        <li>
            <a href="#rust">Rust</a>
        </li>
        <li>
            <a href="#swift">Swift</a>
        </li>
    </ul>
</div>
